h1 {color: red; font-style: oblique; text-align: center;}
h2 {font-family: fantasy; color: purple; text-align: right;}
p {font-weight: 600; font-size: large; font-family: Cursive; text-align: justify;} 
ul {color: magenta; line-height: 30px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}